<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="style.css" />
        <title>{% block title %}Полный список сайтов для рассылки{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% block content %}
        <div class="container">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Адрес сайта</th>
                    <th>Вид деятельности</th>
                    <th>Email</th>
                    <th>Телефон</th>
                    <th>Добавил</th>
                    <th>Дата добавления</th>
                </tr>
                </thead>
                <tbody>
                {% for shopInfo in shopsList %}
                    <tr>
                        <td>{{ shopInfo.address }}</td>
                        <td>{{ shopInfo.kind_of_activity }}</td>
                        <td>{{ shopInfo.email }}</td>
                        <td>{{ shopInfo.phone }}</td>
                        <td>{{ shopInfo.created_by }}</td>
                        <td>{{ shopInfo.date_of_creation }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
</body>
</html>